 .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      display: block;
      width: 100%;
      height: auto;
    }

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  /*max-width: 220px;*/
  max-width: 100%;
  /*margin: auto;*/
  margin:1.5em auto 0;
}
/*
    .overlay-text {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px 20px;
      font-size: 20px;
      text-align: center;
    }
*/
#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
	/*position:fixed;*/
}
.modal-p{
	margin-top:1em;
}
.modal-p:first-child{
	margin-top:0;
}
.button-link{
	color:#00f;
	text-decoration:underline;
}
.button-link:hover{
	cursor:pointer;
	color:#f00;
}
body {
	 text-align:center;
	 width: 1000px;
	 margin:0 auto;
 }
h1 {
	font-size:36px;
	font-family: Arial, sans-serif;
	font-weight:bold;
}
#canvas {
	border:2px solid gray;
	width: 80%;
	height: 500px;
	 /*attr('width', 800);
	attr('height', 500);
	 width: 1000px;
	  height: 800px;*/
}
#aaa {
	/*clear: both;*/
	  overflow:hidden;
	  margin-top:20px;
}
#bbb {
	float: center;
	/*float: left;*/
	width: 400px;
	margin-left: -20px;
}
#ccc {
	margin-left: 10px;
	float: left;
	/*
	width: 500px;
	height: 500px;
	*/
	  cursor: pointer;
}
li {
	width: 30px;
	height: 30px;
	display:inline-block;
}
#item1 {
	float:left;
	width:auto;
	/*margin-left:300px;*/
}
#item {
	float:left;
	width:auto;
	/*margin-left:300px;*/
}
		/*
		html, body, #canvas {
		  display: block;
		  width: 100%;
		  height: 100%;
		  margin: 0;
		  padding: 0;
		
		}
		*/